!!!
%html
%head
  %title Forum
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato:400,700,300", type: "text/css" }
  %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" }
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %header.main-header.clearfix
    .wrapper
      #logo
        %p Forum by Rony Fhebrian
      #buttons
        = link_to "Post Baru", new_post_path
  .wrapper
    %p.notice= notice
    %p.alert= alert
  .wrapper
    = yield
